
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/styles/forgotPassword.css">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <form action="/forgot-email-valid" method="POST" onsubmit="return validateLoginForm()">
            <label for="email">Email Address</label>
            <div class="error-message" id="email-error"></div>
            <input type="email" id="email" name="email"  placeholder="Enter your email address">
            <button type="submit">Reset Password</button>
           
        </form>
        <div class="back-to-login">
            <a href="/login">Back to Login</a>
        </div>
        <p class="text-center mb-4">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</body>


<script>
  
    function validateLoginForm() {
    console.log("Validation started");
    const emailInput = document.getElementById('email');
    const emailError = document.getElementById('email-error');
    const emailValue = emailInput.value.trim();
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

    if (emailValue === '') {
        emailError.textContent = 'Please enter your email.';
        emailInput.classList.add('is-invalid');
        console.log("Empty email");
        return false;
    } else if (!emailValue.match(emailPattern)) {
        emailError.textContent = 'Please enter a valid email address.';
        emailInput.classList.add('is-invalid');
        console.log("Invalid email");
        return false;
    } else {
        emailError.textContent = '';
        emailInput.classList.remove('is-invalid');
        console.log("Validation passed");
        return true;
    }
}

 </script>