body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.content-header {
  text-align: center;
  margin-bottom: 20px;
}

.content-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Search Bar */
.search-form {
  max-width: 500px;
  margin: auto;
}

.search-form input[type="text"] {
  border-radius: 20px !important;
}

.search-form .btn {
  border-radius: 20px !important;
}

/* Table Styling */
.table-container {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.table {
  margin-bottom: 0;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
  
}

.table th {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffff;
}

.table tr {
  font-family: 'Times New Roman', Times, serif;
}

.table-hover tbody tr:hover {
  background-color: #f9f9f9;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

/* Buttons */
.btn {
  border-radius: 20px !important;
  text-transform: capitalize;
  font-size: 12px;
  padding: 5px 10px;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #b21f2d;
  border-color: #89131d;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #117a8b;
  border-color: #0c5967;
}

/* Form Styling */
.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}

textarea.form-control {
  height: 80px;
}

/* Pagination Styling */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.pagination .page-item {
  border-radius: 4px;
  overflow: hidden;
}

.pagination .page-link {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #010101;
  background-color: #fff;
}

.pagination .page-link:hover {
  background-color: #f1f1f1;
  text-decoration: none;
  color: #080808;
}

.pagination .page-item.active .page-link {
  background-color: #080808;
  color: #fff;
  font-weight: bold;
  border-color: #040404;
  pointer-events: none;
}

.pagination .page-item.disabled .page-link {
  background-color: #f8f9fa;
  color: #6c757d;
  pointer-events: none;
}

/* Form Layout */
.col-md-3 {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Alert Messages */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}